body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Comfortaa';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mapboxgl-ctrl-bottom-left {
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapbox-directions-input{
  display: none
}

.mapbox-directions-component{
  display: none
}

.mapbox-directions-step{
  display: none
}
